<div class="container mt-3">
  <div class="row text-center">
    <div class="col-12">
      <input type="text" placeholder="Search.." name="search" />

      <button type="submit" class="bg-warn">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <div class="row text-center">
    <h3>Nearby Laundary Services...</h3>
  </div>

  <div class="row m-1">
    <a routerLink="./details">
      <div class="card d-flex flex-row p-1">
        <img src="./assets/1.jpg" alt="hello" width="150px" />

        <div class="p-1">
          <span class="fw-bolder">Moustache laundary</span>
          <p>
            Wash , Iron and DryClean.. Pune - 1.5 Km away only Next Pickup Slot
            is 2 Pm onwards
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="row m-1">
    <a routerLink="./details">
      <div class="card d-flex flex-row p-1">
        <img src="./assets/2.png" alt="hello" width="150px" />
        <div class="p-1">
          <span class="fw-bold">Urban laundary</span>

          <p>
            Wash , Iron and DryClean.. Pune - 1.5 Km away only Next Pickup Slot
            is 2 Pm onwards
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="row m-1">
    <a routerLink="./details">
      <div class="card d-flex flex-row p-1">
        <img src="./assets/1.jpg" alt="hello" width="150px" />
        <div class="p-1">
          <span class="fw-bold"> NewLife laundary </span>
          <p>
            Wash , Iron and DryClean.. Pune - 1.5 Km away only Next Pickup Slot
            is 2 Pm onwards
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
